Host *
{{- if eq .chezmoi.os "darwin" }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else if eq .chezmoi.os "linux" }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}
    PermitLocalCommand yes

Host silver gold oxygen
    ForwardAgent yes

Host aur.archlinux.org
    IdentityFile ~/.ssh/aur
    User aur

Host github.com
    User git

    ControlMaster auto
    ControlPath ~/.ssh/connections/%r@%h:%p
    ControlPersist 12h
