[colors]
background = #{{ index .colors.background 1 }}
background-alt = #{{ index .colors.background 2 }}
foreground = #{{ index .colors.foreground 1 }}
foreground-alt = #{{ index .colors.foreground 2 }}
alert = #{{ .colors.normal.red }}

{{- range $name, $display := .displays }}
[bar/{{ $display.handle }}]
monitor = {{ $display.handle }}
width = 100%
height = {{ mul $display.font_size 2.5 | int }}
dpi = {{ $display.dpi }}
tray-maxsize = 1000

radius = 0
fixed-center = false

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3
line-color = #f00

border-size = 0
border-color = #00000000

padding-left = 0
padding-right = 2

module-margin-left = 1
module-margin-right = 2

font-0 = {{ $.fonts.ui.family }}:pixelsize={{ $display.font_size }};1
font-1 = {{ $.fonts.terminal.family }}:pixelsize={{ $display.font_size }};1

modules-left = i3
modules-center = xbacklight volume
modules-right = github wireless-network filesystem wired-network xkeyboard memory cpu temperature battery date

tray-position = center
scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize
{{- end }}

[module/wireless-network]
type = internal/network
interface = {{ .network.wlan }}
interval = 3.0

format-connected = <ramp-signal> %{A1:nm-connection-editor:}<label-connected>%{A}
format-connected-underline = #{{ index .colors.primary 2 }}
label-connected = %essid%

format-disconnected-underline = ${colors.alert}
label-disconnected = "  %ifname% disconnected "
label-disconnected-foreground = ${colors.alert}

ramp-signal-0 = "%{u#{{ .colors.normal.red }}} "
ramp-signal-1 = "%{u#{{ .colors.normal.orange }}} "
ramp-signal-2 = "%{u#{{ .colors.normal.blue }}} "
ramp-signal-3 = "%{u#{{ .colors.normal.cyan }}} "
ramp-signal-4 = "%{u#{{ .colors.normal.green }}} "
ramp-signal-foreground = ${colors.foreground-alt}

; vim:filetype=dosini
