@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#nav-bar {
    height: 0px !important;
    min-height: 0px !important;
    overflow: hidden !important;
}

#nav-bar:focus,
#nav-bar:focus-within,
#nav-bar:active {
    height: auto !important;
}

#TabsToolbar-customization-target { /* Navigation Toolbar */
  background-color: #282828 !important;
}
