# --- Secret credentials ---
# Used by spotifatius in my waybar configuration
export RSPOTIFY_CLIENT_ID='{{ onepasswordRead "op://Private/Spotify/uu5cjlzev5ocsuovzaz7zffxre" "BWLFUG4UQFDGVLVQZGRATBEWGQ" }}'
export RSPOTIFY_CLIENT_SECRET='{{ onepasswordRead "op://Private/Spotify/vgof2m2ktggz4xhqrr6xrjws3i" "BWLFUG4UQFDGVLVQZGRATBEWGQ" }}'

# vim: ft=zsh
